/* **********keep- general********** */

.title {
    font-weight: bold;
}

.notes {
    flex-direction: row;
}
/* *******keep-text********* */
.text-container {
    border: 1px solid black;
}

/* ********keep-image********** */

.img-container {
    border: 1px solid black;
}
.img-container>img {
    width: 100px;
    height: 100px;
}


/* **********keep-todo*************** */

.todo-container {
    border: 1px solid black;
}

/* *********add-note*********** */

.modal-add-note {
    border: 1px solid black;
}
